<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

   {{>header}}

 <div class="animated">
    <div class="" style="margin-left: 20%;margin-right: 35%;font-size:120px;font-family:Trattatello, fantasy">
     TARUN
   </div>
 </div>
  </body>
</html>
