<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    {{>header}}

      <form class="" action="">
        <input type="text" placeholder="Location" name="" value="">
        <input type="submit" name="" value="submit">
      </form>
      <p id="message-1"></p>

    {{>footer}}


    <script type="text/javascript" src="/js/app.js">
    </script>
  </body>
</html>
